/*=====================================1200px=============================================================*/

@media(max-width: 1200px) {

  .header__title {
    font-size: 52px;
    max-width: 376px;
  }

  .header__img {
    max-width: 450px;
  }

  /*=============================================================================================*/

  .team__socials {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
    top: 0;
    padding: 0 20px 20px 0;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    border-radius: 4px;
    transform: translateY(50%);
  }

}



/*=====================================1100px=============================================================*/
/*=====================================1100px=============================================================*/
@media (max-width: 1100px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.349);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }
  
  .overlay--show {
    opacity: 1;
    visibility: visible;
  }
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .3s;
  }

  .burger--follow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #fff;
    top: 15px;
    right: 15px;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
    margin: 4px 0;
  }

  .burger::before {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
  }

  .burger::after {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 3px;
  }

  .header {
    padding-top: 92px;
  }

  .header__top {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all .3s;
  }

  .header__top--open {
    transform: translateX(0%);
  }

  .header__top-inner {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 100px 0;
  }

  .header__nav-list {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
  }

  .header__logo {
    margin: 0 0 30px 0;
  }

  .header__nav-item {
    margin: 0;
  }

  .header__nav {
    margin: 0 auto;
    flex-grow: 1;
    text-align: center;
    display: flex;
  }

  .header__nav-link {
    padding: 10px;
    display: block;
  }

  .header__btn-box {
    flex-direction: column-reverse;
  }

  .header__top-btn {
    margin: 0;
  }

  .header__user-nav {
    margin-bottom: 20px;
  }

  /*=============================================================================================*/

  .heading__title {
    font-size: 36px;
  }

  .about__img {
    max-width: 400px;
  }

  /*=============================================================================================*/

  .cert__inner {
    flex-direction: column;
    align-items: center;
  }

  .cert__image-box {
    max-width: 600px;
  }

  .cert__content {
    margin: 0 0 30px 0;
  }

  .cert__heading {
    text-align: center;
  }

  /*=============================================================================================*/


  .companies__grid {
    gap: 8px 5%;
  }

  /*=============================================================================================*/

  .lessons__image {
    max-width: 400px;
  }

  /*=============================================================================================*/

  .blog__item-info {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 8px;
  }

  .blog__info-el {
    padding: 0;
  }

  .blog__info-dir {
    order: 1;
  }

  .blog__info-date {
    order: 3;
    flex-basis: 100%;
  }

  .blog__info-time {
    order: 2;
  }

  /* .blog__info--3 {
    margin-bottom: 24px;
  } */

  .blog__info-el::after {
    content: none;
  }

  /*=============================================================================================*/

  .footer__top-inner {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer__top-col {
    margin-bottom: 30px;
  }

  .footer__top-col:nth-child(1) {
    max-width: none;
    flex-basis: 100%;
  }

  .footer__top-col:nth-child(5) {
    margin-bottom: 0;
    flex-basis: 100%;
    max-width: none;
  }

  .footer__form-items {
    max-width: 315px;
  }

}


/*=====================================900px===========================================================*/
/*=====================================900px===========================================================*/

@media(max-width: 1000px) {
  .lessons__image {
    display: none;
  }

}


/*=====================================900px===========================================================*/
/*=====================================900px=============================================================*/

@media(max-width: 900px) {

  .header__img {
    display: none;
  }

  .header__row {
    display: none;
  }

  .header__content {
    margin: 0;
  }

  /*=============================================================================================*/

  .about__img {
    display: none;
  }

  /*=============================================================================================*/




  .directions__filter-item {
    margin-right: 10px;
  }

  .directions__list {
    gap: 30px 10px;
  }

  .directions__link-content {
    padding: 24px 5px 5px;

  }

  /*=============================================================================================*/

  .companies__grid {
    grid-template: repeat(3, auto) / repeat(4, 1fr);
  }

  /*=============================================================================================*/
  .blog__list {
    flex-direction: column;
    margin: 0;
  }

  .blog__item {
    padding: 0 0 30px 0;
  }

  .blog__img-box {
    display: flex;
    justify-content: center;
  }

  .blog__img-box img {
    width: auto;
    object-fit: contain;
  }

  /*=============================================================================================*/

  .map__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .map__info {
    margin: 0 0 30px 0;
  }

  .map__item {
    height: 200px;
  }

  .map__item iframe {
    width: 100%;
  }

  /*=============================================================================================*/
  .questions__img {
    display: none;
  }

  .questions__content {
    margin: 0;
    width: 100%;
  }
}




/*=====================================700px===================================================================*/
/*=====================================700px===================================================================*/


@media(max-width: 700px) {
  .about__values {
    flex-direction: column;
  }

  .about__image-box {
    display: none;
  }

  .about__numbers {
    align-self: flex-start;

  }

  .about__createx {
    margin-bottom: 60px;
  }

  /*=============================================================================================*/

  .directions__list {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
  }


  /*=============================================================================================*/


  .testimonials__slider-wrapper {
    padding: 0;
  }

  .testimonials__arrow {
    display: none;
  }

  .testimonials__slide {
    padding: 30px 15px;
  }

  /*=============================================================================================*/
  .acc__head {
    font-size: inherit;
    white-space: inherit;
  }

}


/*=====================================550px===================================================================*/
/*=====================================550px===================================================================*/

@media(max-width: 550px) {

  .header__main {
    padding-top: 60px;
  }

  .main__about {
    padding: 60px 0 100px;
  }

  .main__testimonials {
    padding-bottom: 100px;
  }
  .main__companies {
    padding-bottom: 40px;
  }

  .main__directions {
    padding-bottom: 60px;
  }
  .team__inner {
    padding: 100px 0 100px 0;
  }
  .lessons__inner {
    padding: 60px 0 100px;
  }
  .main__blog {
    padding-bottom: 60px;
  }
  .main__map {
    padding-bottom: 100px;
  }
  .main__questions {
    padding-bottom: 40px;
  }


  .about__paragraph {
    font-size: inherit;
  }

  .heading__title {
    font-size: 24px;
  }

  .heading__subtitle {
    font-size: 88%;
    margin: 0;
  }

  .heading {
    margin-bottom: 30px;
  }

  .about__paragraph {
    margin-bottom: 10px;
  }

  .about__text {
    margin-bottom: 30px;
  }

  .about__btn-box {
    flex-direction: column;
    align-items: flex-start;

  }

  .about__btn {
    text-align: center;
    margin: 0 0 28px 0;
  }


  /*=============================================================================================*/



  .directions__list {
    grid-template: none;
  }

  .directions__list-item--empty {
    display: none;
  }

  /*=============================================================================================*/
  .team__slider-arrows {
    display: none;
  }

  .image__box {
    max-width: 300px;
    margin: 0 auto 14px;
  }

  /*=============================================================================================*/

  .testimonials__slider-wrapper {
    margin-bottom: 15px;
  }

  .testimonials__slide-inner {
    padding-left: 30px;
  }

  .testimonials__quote {
    font-size: inherit;
    line-height: inherit;
  }

  .testimonials__quote::before {
    left: -30px;
    width: 20px;
  }

  .testimonials__dots button {
    width: 20px;
  }

  /*=============================================================================================*/

  .companies__grid {
    grid-template: repeat(4, auto) / repeat(3, 1fr);
  }

  /*=============================================================================================*/

  .blog__top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  /*=============================================================================================*/

  .questions__form-row {
    flex-direction: column;
  }

  .questions__form-label {
    margin: 0 0 24px 0;
    width: 100%;
  }

  .questions__form-label:last-child {
    margin: 0;
  }

  .questions__form-input,
  .questions__form-text {
    margin-top: 0;
  }

  .questions__checkbox-label {
    margin: 0 0 24px 0;
  }

  /*=============================================================================================*/

  .footer__top-inner {
    flex-direction: column;
  }

  .footer__top-title--slide {
    margin: 0;
    pointer-events: auto;
  }

  .footer__top-list {
    margin-top: 12px;
    display: none;
  }

  .footer__bottom-inner {
    flex-direction: column-reverse;
  }

  .footer__copy {
    display: none;
  }

  .footer__go-top {
    margin-bottom: 15px;
  }

  /*=============================================================================================*/


}







/*=====================================450px===================================================================*/
/*=====================================450px===================================================================*/

@media(max-width: 450px) {

  .header__top {
    min-width: none;
    left: 0;
  }


  /*------------------------------------*/

  .header__title {
    max-width: none;
    font-size: 40px;
  }

  .header__content-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__content-btn {
    margin: 0 0 30px 0;
    text-align: center;
  }


  /*------------------------------------*/


  .directions__filter-box {
    margin-bottom: 15px;
  }


  /*------------------------------------*/


  .cert__logos {
    flex-direction: column;
    align-items: center;
  }

  .certlogos__item {
    margin: 0 0 30px 0;
  }

  .certlogos__item:last-child {
    margin: 0;
  }

  /*=============================================================================================*/

  .companies__grid {
    grid-template: repeat(6, auto) / repeat(2, 1fr);
  }


  /*=============================================================================================*/

  .map__soc-item {
    margin-right: 16px;
  }

}